head{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #333;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #9f9a9a;
    color: #ffffff;
    text-align: center;
}
header{
    background-color: #727272;
    color: #ffd505;
    padding: 20px 0;
    text-align: center;
}
nav{
    background-color: #525050;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
input[type="submit"],
input[type="button"]{
    background-color: #009dff;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover,

input[type="reset"],
input[type="button"]{
    background-color: #009dff;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}
input[type="reset"]:hover,
input[type="button"]:hover{
    background-color: #007acc;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 10px;
}
textarea{
    width: 50%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
}
input[type="text"],