body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2361a4;
    color: #333;
}
header {
    background-color: #a6de9b96;
    color: rgb(16, 216, 2);
    padding: 10px;
    flex-wrap: wrap;
}
section {
    margin: 10px;
    padding: 10px;
    background-color: rgb(189, 229, 189);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
nav {
    margin: 10px;
    padding: 10px;
    background-color: rgb(189, 229, 189);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
article{
    margin: 10px;
    padding: 10px;
    background-color: rgb(189, 229, 189);
    border-radius: 5px;
    box-shadow: 0 0 10px black;
}
h1 {
    background: linear-gradient(270deg, #00f0ff, #26ff88, #4c73ff, #08efff);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientText 6s ease infinite;
    text-align: center;
    font-size: 2.5em;
}
h2 {
    color: rgb(6, 6, 185);
    transition: transform 0.3s ease;
    display: inline-block;
}

h2:hover {
    transform: scale(1.1);
}
h3 {
    color: rgb(6, 6, 185);
}
.container {
    width: 80%;
    margin: auto;
}
img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    position: absolute;
    top: 10px;
    left: 10px; 
    transition: transform 0.5s ease;
}

img:hover {
    transform: rotate(360deg); 
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid rgb(74, 68, 161);
}
th, td {
    padding: 10px;
    text-align: center;
}
a {
    background: linear-gradient(270deg, #00f0ff, #26ff88, #4c73ff, #08efff);
    background-size: 800% 800%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientText 6s ease infinite;
    text-align: center;
    font-size:2 em;
}

a:hover {
    text-decoration: underline;
}
footer{
    text-align: center;
    padding: 1vh;
    background-color:#a6de9b96;
    color: rgb(0, 232, 105);
    width: 100%;
}
@keyframes gradientText {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }